#nav-bar {
    overflow:hidden;
}
#nav-bar h2 {
    float:left;
    margin-right:30px;
    cursor:pointer;
}
.tabs {
    display:none
}
#nav-bar {
    position: absolute;
    margin-left: 100px;
    top: 40%;
}
#header {
    background-color: bisque;
}
.tab-link {
    padding: 5px;
}
