body {
    background-color: #050b14;
    color: white;
}
#nav-bar {
    overflow: hidden;
}
#nav-bar h2 {
    float: left;
    margin-right: 30px;
    cursor: pointer;
}
.tabs {
    display: none;
    margin-top: 150px;
}
#header {
    margin: -10px;
    position: absolute;
    top: 40%;
}
#nav-bar {
    margin-left: 100px;
}
#header {
    width: 100%;
    height: 100px;
    color: white;
}
.tab-link {
    display: inline-block;
    position: relative;
    color: #019cd4;
    padding: 5px;
}
.tab-link:hover {
    color: #0381af;
}
.tab-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0381af;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.tab-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}